<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SeleniumAdvancedSuite"
       parallel="classes"
       thread-count="2">

    <!-- Test Scenario 1 -->
    <test name="Test Scenario 1 - Chrome Windows">
        <parameter name="browser" value="Chrome"/>
        <parameter name="browserVersion" value="128.0"/>
        <parameter name="platformName" value="Windows 10"/>
        <parameter name="testName" value="Scenario 1 - Chrome Windows 10"/>

        <classes>
            <class name="tests.TestScenario1"/>
        </classes>
    </test>

    <!-- Test Scenario 2 -->
    <test name="Test Scenario 2 - Edge macOS">
        <parameter name="browser" value="MicrosoftEdge"/>
        <parameter name="browserVersion" value="127.0"/>
        <parameter name="platformName" value="macOS Ventura"/>
        <parameter name="testName" value="Scenario 2 - Edge macOS Ventura"/>

        <classes>
            <class name="tests.TestScenario2"/>
        </classes>
    </test>

</suite>
